head
  title Space-X Microsite
  meta(charset="utf-8")
  meta(lang="en" dir="ltr")
  meta(name="author" content="Maximilian Dybvik")
  meta(name="description" content="A SpaceX microsite made by Maximilian Dybvik as his project exam 2018")
  
  //- Mobile-friendly viewport
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  
  //- Stylesheets  
  link(href="css/main.css" type="text/css" rel="stylesheet" media="all")
