nav
  ul
    li
      a(href="index.html" title="A multiplanetary life") Home
    li
      a(href="bfr.html" title="Big Falcon Rocket") BFR Data
    li
      a(href="launch-schedule.html" title="Launch Schedule") Schedule
    li
      a(href="media.html" title="Media") Media
