doctype html
html
  include ../layout/head.pug
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css")
  link(rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.2.21/css/lightgallery.min.css')
    
  body
    include ../layout/navigation.pug
    
    header.media
      //- #media-header acts as a array of strings which typed.js uses for the animation and will not be visible
      #typed__array
        h2 Media Gallery
      //- #media-header-typed is where typed.js inserts the animated string
      span#typed__heading
      
    #container
    
    include ../layout/footer.pug
    
    //- Vendor scripts
    script(src="js/vendors/typed.min.js" type="text/javascript" charset="utf-8")
    script(src="js/vendors/jquery-3.3.1.min.js" type="text/javascript" charset="utf-8")
    script(src="js/vendors/lightgallery.min.js" type="text/javascript" charset="utf-8")
    script(src="js/vendors/lg-hash.min.js" type="text/javascript" charset="utf-8")
    script(src="js/vendors/lg-zoom.min.js" type="text/javascript" charset="utf-8")
    script(src="js/vendors/masonry.pkgd.min.js" type="text/javascript" charset="utf-8")
    script(src="js/vendors/imagesloaded.pkgd.min.js" type="text/javascript" charset="utf-8")
    
    //- Application script
    script(src="js/media.js" type="text/javascript" charset="utf-8")
